<h1>Hello</h1>
<p id="notice"><%= notice %></p>

<%= link_to 'New Article', new_article_path %>

<% @articles.each do |article| %>
<h2>
    <%= article.id %>
    <%= article.title %><br>

</h2>
<p>
  <%= article.email %>
  <%= article.name%>
  <br>
  <%= article.updated_at %>
</p>
<p>
  <%= simple_format article.content %>
</p>
  <% end %>
